/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-isceb-blocks-author-block {
	padding: 2px;
}

$primary: #1F476B; 
$secondary:  #d3ebf8;

