/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
 $primary: #1f476b;
 $secondary: #d3ebf8;
.wp-block-isceb-blocks-author-block {
	// border: 1px dotted #f00;
	// margin: 5px;
}

.isceb-standard-page-author-img {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	min-height: 60px;
	width: 60px;
	border-bottom: none;
	border: 5px solid #1F476B;
}

// .isceb-standard-page-author-img {
// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

// .isceb-standard-page-title-container {
// 	margin-bottom: 20px;
// }

// .isceb-standard-page-header {
// 	font-size: xx-large;
// }

.isceb-standard-page-head-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-top: 20px;
	width: auto;
	// border-top: solid $primary;
}

// @media (min-width: 641px) {
// 	.isceb-standard-page-head-container {
// 		display: grid;
// 		grid-template-columns: repeat(2, 1fr);
// 		grid-template-rows: 1fr;
// 		grid-column-gap: 0px;
// 		width: 15%;
// 		grid-row-gap: 0px;
// 		margin-top: 20px;
// 	}
// }

// .isceb-standard-page-topic {
// 	// border-bottom: solid $primary;
// 	padding-bottom: 10px;
// 	color: grey;
// 	font-weight: normal;
// }

// /* Code for the head of standard page (topic, date) */
// .isceb-standard-page-title-head {
// 	border-bottom: solid $primary;
// 	display: grid;
// 	grid-template-columns: repeat(2, 1fr);
// 	grid-template-rows: 1fr;
// 	grid-column-gap: 0;
// }

// // .isceb-standard-page-date {
// // 	justify-content: flex-end;
// // 	display: flex;
// // }
.isceb-standard-page-head{
	display: block;
	border-bottom: none;
}